.title
  Listado de Proveedores
%hr
.row
  .col-md-4.col-xs-5
    = link_to new_provider_path, class: 'btn btn-raised btn-success' do
      %i.fa.fa-plus-circle
      Nuevo Proveedor
    = link_to desactivated_providers_path(), class: 'btn btn-info' do
      %i.fa.fa-edit
      Proveedores Desactivados
  .col-md-8.col-xs-7
    = form_tag(providers_path(), :method => "get", id: "search-form") do
      .row
        .col-md-7.col-md-offset-4.col-xs-10
          = text_field_tag :query, params[:query], placeholder: "Ingrese nombre, número documento, teléfono o email del proveedor", autofocus: true, class: "form-control"
        .col-md-1.col-xs-2
          = submit_tag "Buscar", class: "btn btn-info pull-right"

%br
%br
%table.table
  %th Nombre
  %th Teléfono de contacto
  %th Correo Electrónico
  %th Banco
  %th Número de cuenta
  %th Vendedor
  %th
    - @providers.each do |provider|
      %tr
        %td
          = link_to provider.name, provider
        %td
          = provider.phone
        %td
          = provider.email
        %td
          = provider.bank
        %td
          = provider.bank_account
        %td
          = provider.seller_name
        %td
          = link_to 'Desactivar', edit_provider_path(provider, origin: "DESACTIVATE"), class: 'btn btn-raised btn-warning'
          = link_to 'Editar', edit_provider_path(provider), class: 'btn btn-raised btn-primary'
          = link_to provider, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este proveedor?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
