%h1.header
  Proveedores

%br
%br
%br
%br
%table.table
  %th Nombre
  %th Teléfono de contacto
  %th Correo Electrónico
  %th
    - @providers.each do |provider|
      %tr
        %td
          = link_to provider.name, provider
        %td
          = provider.phone
        %td
          = provider.email
        %td
          = link_to 'Editar', edit_provider_path(provider), class: 'btn btn-raised btn-primary'
          = link_to 'Eliminar', provider, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este proveedor?' }, class: 'btn btn-raised btn-danger'

= link_to 'Nuevo Proveedor', new_provider_path, class: 'btn btn-raised btn-success'
