= form_for(@purchase_detail) do |f|
	%div{ class: 'form-group label-floating'}
		= f.label "Cantidad", class: "title_label"
		= f.text_field(:amount, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Neto", class: "title_label"
		= f.text_field(:price, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Iva", class: "title_label"
		= f.text_field(:tax, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Total", class: "title_label"
		= f.text_field(:total, class: 'form-control')

	%div{ class: 'form-group label-floating'}
		%br
			= f.submit "Guardar", class: "btn btn-success"
			= link_to 'Volver', purchases_path , class: "btn btn-link"
