.title
  Listado de Locales
%hr
= link_to new_store_path, class: 'btn btn-raised btn-success' do
  %i.fa.fa-plus-circle
  Nuevo Local
= link_to desactivated_stores_path(), class: 'btn btn-info' do
  %i.fa.fa-edit
  Locales Desactivados
%br
%br
%table.table
  %th Nombre
  %th Ciudad
  %th País
  %th Teléfono de contacto
  %th Correo Electrónico
  %th Zona Horaría
  %th
    - @stores.each do |store|
      %tr
        %td
          = link_to store.name, store
        %td
          = store.city
        %td
          = store.country
        %td
          = store.phone
        %td
          = store.address
        %td
          = store.timezone
        %td
          = link_to 'Desactivar', edit_store_path(store, origin: "DESACTIVATE"), class: 'btn btn-raised btn-warning'
          = link_to 'Editar', edit_store_path(store), class: 'btn btn-raised btn-primary'
          = link_to store, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este Local?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
