
.row
  .col-md-3
    - if can? :manage, Store
      .panel.panel-default
        .panel-heading
          Panel Control
        .panel-body
          = link_to edit_store_path(@store), class: 'btn btn-link' do
            %i.fa.fa-edit
            Editar Local
          %br
          = link_to @store, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este Local?' }, class: 'btn btn-raised btn-link' do
            %i.fa.fa-trash-o
            Eliminar Local

  .col-md-9
    .title
      Local:
      = @store.name
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Lugar:
        %td
          = "#{@store.city} - #{@store.country}"
      %tr
        %td
          %strong
            Teléfono de contacto
        %td
          = @store.phone
      %tr
        %td
          %strong
            Dirección
        %td
          = @store.address
      %tr
        %td
          %strong
            Zona Horaria
        %td
          = @store.timezone

.row
  .col-md-3
  .col-md-9
    %br
    .h3 Stock
    %table.table
      %th Producto
      %th Cantidad
      %th Fecha Creación
      %th Última Actualización
      %th
        - @stocks.each do |stock|
          %tr
            %td
              = link_to stock.product.name, stock.product
            %td
              = stock.amount
            %td
              = stock.created_at
            %td
              = stock.updated_at
