%br
%br
%table.table
  %th Local Origen
  %th Local Destino
  %th Fecha
  %th Total
  %th Estado
  %th
    - @dispatches.each do |dispatch|
      %tr
        %td
          = link_to dispatch.origin.name, dispatch.origin
        %td
          = link_to dispatch.destination.name, dispatch.destination
        %td
          = dispatch.created_at_datetime
        %td
          = dispatch.total
        %td
          = dispatch.status_name
        %td
          = link_to 'Ver', dispatch_path(dispatch), class: 'btn btn-raised btn-success'
