%br
%br
%table.table
  %th Cliente
  %th Local
  %th Vendedor
  %th Nº Venta
  %th Fecha Creación
  %th total
  %th Estado
  %th
    - @sales.each do |sale|
      %tr
        %td
          = link_to sale.customer.name, sale.customer
        %td
          = sale.store.name
        %td
          = sale.user.email
        %td
          = sale.number
        %td
          = sale.created_at_datetime
        %td
          = sale.total
        %td
          = sale.status_name
        %td
          = link_to 'Ver', sale_path(sale), class: 'btn btn-raised btn-success'


