.title-center
	Arqueo de Caja
%hr

%div
	.container
		- @stores.where(type: Store::TYPE_MASTER).each do |s|
			%div
				.col-md-6
					%h4.bs-callout.bs-callout-primary.text-center
						= s.name

					.panel.panel-primary
						.panel-heading.subtitle-center
							.panel-title
								= "Compras : #{sprintf("$%2.0f", @cash_flow.total_purchases(s))}"

						%table.table.panel-body
							%tr.text-right
								%th Despachos
								%td
									= sprintf("$%2.0f", @cash_flow.total_origin_dispatches(s))
							%tr.text-right
								%th Gastos 
								%td
									= sprintf("$%2.0f", @cash_flow.total_expenses(s))
							%tr.text-right
								%th Ventas 
								%td
									= sprintf("$%2.0f", @cash_flow.total_sales(s))
							%tr.text-right
								%th Total 
								%td
									%strong
										= sprintf("$%2.0f", @cash_flow.total_master(s))

		- @stores.where(type: Store::TYPE_SLAVE).each do |s|
			%div
				.col-md-6
					%h4.bs-callout.bs-callout-primary.text-center
						= s.name

					.panel.panel-primary
						.panel-heading.subtitle-center
							.panel-title
								= "Ventas : #{sprintf("$%2.0f", @cash_flow.total_sales(s))}"

						%table.table.panel-body
							%tr.text-right
								%th Aportes
								%td
									= sprintf("$%2.0f", @cash_flow.total_contributions(s))
							%tr.text-right
								%th Gastos
								%td
									= sprintf("$%2.0f", @cash_flow.total_expenses(s))
							%tr.text-right
								%th Total 
								%td
									%strong	
										= sprintf("$%2.0f", @cash_flow.total_slave(s))

.container
	%div
		.col-md-offset-4.col-md-4
			- saldo = @cash_flow.saldo
			.panel{:class=> ("#{ saldo >= 0 ? "panel-success" : "panel-danger"}")}
				.panel-heading.subtitle-center
					.panel-title
						Saldo
				.panel-body.subtotal.text-center
					= "#{sprintf("$%2.0f", saldo )}"
