.title-center
	Arqueo de Caja
%hr

.container
	%div
		.col-md-offset-1.col-md-3
			.panel.panel-primary
				.panel-heading.subtitle-center
					.panel-title
						Total Ingresos
				.panel-body.subtotal
					= "#{sprintf("$%2.00f", 100000000)}"
					-# = "Saldo Caja: #{sprintf("$%2.0f", @cash_flow.total_entry - @cash_flow.total_egress)}"

		.col-md-offset-1.col-md-3
			.panel.panel-primary
				.panel-heading.subtitle-center
					.panel-title
						Total Egresos
				.panel-body.subtotal
					= "#{sprintf("$%2.00f", 100000000)}"
					-# = "Total Egresos: #{sprintf("$%2.00f", @cash_flow.total_egress)}"
		.col-md-offset-1.col-md-3
			.panel.panel-primary
				.panel-heading.subtitle-center
					.panel-title
						Saldo Caja
				.panel-body.subtotal
					= "#{sprintf("$%2.00f", 100000000)}"
					-# = "Saldo Caja: #{sprintf("$%2.0f", @cash_flow.total_entry - @cash_flow.total_egress)}"

.container
	- @stores.where(type: Store::TYPE_MASTER).each do |s|
		%div
			.col-md-12
				%hr
		%div
			.col-md-2
				-# .store_title
				%h4.bs-callout.bs-callout-primary
					= s.name
			.col-md-5
				.panel.panel-success
					.panel-heading.subtitle-center
						.panel-title
							Ingresos (Total: 10000000)

					%table.table.panel-body

						%tr
							%th Ventas (IVA inc.)
							%td
								= sprintf("$%2.0f", @cash_flow.sales.where(store: s).map(&:total).sum)
						%tr
							%th Despachos (IVA inc.)
							%td
								= sprintf("$%2.0f", @cash_flow.dispatches.where(origin: s).map(&:total).sum)

			.col-md-5
				.panel.panel-danger
					.panel-heading.subtitle-center
						.panel-title
							Egresos (Total: 100000000)
					%table.table.panel-body
						%tr
							%th Compras (IVA inc.)
							%td
								= sprintf("$%2.0f", @cash_flow.purchases.where(store: s).map(&:total).sum)
						%tr
							%th Gastos
							%td
								= sprintf("$%2.0f", @cash_flow.expenses.where(store: s).map(&:price).sum)

.container
	- @stores.where(type: Store::TYPE_SLAVE).each do |s|
		%div
			.col-md-12
				%hr
		%div
			.col-md-2
				-# .store_title
				%h4.bs-callout.bs-callout-primary
					= s.name
			.col-md-5
				.panel.panel-success
					.panel-heading.subtitle-center
						.panel-title
							Ingresos (Total: #{@cash_flow.sales.where(store: s).map(&:total).sum})

					%table.table.panel-body
						%tr
							%th Ventas (IVA inc.)
							%td
								= sprintf("$%2.0f", @cash_flow.sales.where(store: s).map(&:total).sum)

			.col-md-5
				.panel.panel-danger
					.panel-heading.subtitle-center
						.panel-title
							Egresos (Total: #{@cash_flow.expenses.where(store: s).map(&:price).sum + @cash_flow.contributions.where(store: s).map(&:price).sum + @cash_flow.dispatches.where(destination: s).map(&:total).sum })
					%table.table.panel-body
						%tr
							%th Gastos
							%td
								= sprintf("$%2.0f", @cash_flow.expenses.where(store: s).map(&:price).sum)
						%tr
							%th Aportes
							%td
								= sprintf("$%2.0f", @cash_flow.contributions.where(store: s).map(&:price).sum)
						%tr
							%th Despachos (IVA inc.)
							%td
								= sprintf("$%2.0f", @cash_flow.dispatches.where(destination: s).map(&:total).sum)
							%tr
