.title-center
	Arqueo de Caja
%hr

%div
	.container
		- @stores.where(type: Store::TYPE_MASTER).each do |s|
			%div
				.col-md-6
					%h4.bs-callout.bs-callout-primary.text-center
						= s.name

					.panel.panel-primary
						.panel-heading.subtitle-center
							.panel-title
								= sprintf("$%d",@cash_flow.total_purchases(s).round(0))
						%table.table.panel-body
							%tr.text-right
								%th Despachos
								%td
									= sprintf("$%d",@cash_flow.total_origin_dispatches(s).round(0))
							%tr.text-right
								%th Gastos
								%td
									= sprintf("$%d",@cash_flow.total_expenses(s).round(0))
							%tr.text-right
								%th Total
								%td
									%strong
										= sprintf("$%d",@cash_flow.total_master(s).round(0))

		- @stores.where(type: Store::TYPE_SLAVE).each do |s|
			%div
				.col-md-6
					%h4.bs-callout.bs-callout-primary.text-center
						= s.name

					.panel.panel-primary
						.panel-heading.subtitle-center
							.panel-title
								@cash_flow.total_master(s).round(0)
								= "Ventas : #{sprintf("$%d",@cash_flow.total_sales(s).round(0))}"

						%table.table.panel-body
							%tr.text-right
								%th Aportes
								%td
									= sprintf("$%d",@cash_flow.total_contributions(s).round(0))
							%tr.text-right
								%th Gastos
								%td
									= sprintf("$%d",@cash_flow.total_expenses(s).round(0))
							%tr.text-right
								%th Total
								%td
									%strong
										= sprintf("$%d",@cash_flow.total_slave(s).round(0))

.container
	%div
		.col-md-offset-4.col-md-4
			- saldo = @cash_flow.saldo
			.panel{:class=> ("#{ saldo >= 0 ? "panel-success" : "panel-danger"}")}
				.panel-heading.subtitle-center
					.panel-title
						Saldo
				.panel-body.subtotal.text-center
					= sprintf("$%d",saldo.round(0))
