.title
  Listado de Cajas
%hr
.row
  .col-md-4.col-xs-5

  .col-md-8.col-xs-7
    = form_tag(cash_flows_path(), :method => "get", id: "search-form") do
      .row
        .col-md-7.col-md-offset-4.col-xs-10
          = text_field_tag :query, params[:query], placeholder: "Ingrese fecha de caja", autofocus: true, class: "form-control"
        .col-md-1.col-xs-2
          = submit_tag "Buscar", class: "btn btn-info pull-right"
%br
%br
%table.table
  %th Fecha Inicio
  %th Fecha Término
  %th Número de Orden
  %th Saldo
  %th Estado
  %th
    - @cash_flows.each do |cash_flow|
      %tr
        %td
          = cash_flow.start_at_date
        %td
          = cash_flow.end_at_date
        %td
          = cash_flow.order_number
        %td
          = cash_flow.saldo
        %td
          = cash_flow.status_name
        %td
          = link_to 'Ver', cash_flow_path(cash_flow), class: 'btn btn-raised btn-success'
          -#TODO refactor con cancancan
          - if cash_flow.status == 1
            = link_to edit_cash_flow_path(cash_flow, :origin => "FINISHED"), class: 'btn btn-raised btn-danger' do
              %i.fa.fa-paper-plane
              Finalizar
