.row
  .col-md-2
    .panel.panel-default
      .panel-heading
        Panel Control
      .panel-body
        = link_to cash_flow_report_cash_flows_path(@cash_flow), class: 'btn btn-link' do
          %i.fa.fa-calculator
          Arqueo de Caja
        %br
        = link_to edit_cash_flow_path(@cash_flow, :origin => "FINISHED"), class: 'btn btn-raised btn-link' do
          %i.fa.fa-paper-plane
          Finalizar Caja
        %br
        = link_to :back, class: 'btn btn-raised btn-link' do
          %i.fa.fa-arrow-left
          Volver

  .col-md-10
    .title
      Número Pedido:
      = @cash_flow.order_number
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Fecha Inicio:
        %td
          = @cash_flow.start_at_date
      %tr
        %td
          %strong
            Fecha Término
        %td
          = @cash_flow.end_at_date
      %tr
        %td
          %strong
            Estado
        %td
          = @cash_flow.status_name

    %ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}
      %li.nav-item.active
        %a#pills-purchases-tab.nav-link{"aria-controls" => "pills-purchases", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-purchases", :role => "tab"}
          Compras
      %li.nav-item
        %a#pills-sales-tab.nav-link{"aria-controls" => "pills-sales", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-sales", :role => "tab"}
          Ventas
      %li.nav-item
        %a#pills-dispatches-tab.nav-link{"aria-controls" => "pills-dispatches", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-dispatches", :role => "tab"}
          Despachos
      %li.nav-item
        %a#pills-expenses-tab.nav-link{"aria-controls" => "pills-expenses", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-expenses", :role => "tab"}
          Gastos
      %li.nav-item
        %a#pills-contributions-tab.nav-link{"aria-controls" => "pills-contributions", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-contributions", :role => "tab"}
          Aportes
    #pills-tabContent.tab-content
      #pills-purchases.tab-pane.fade.active.in{"aria-labelledby" => "pills-purchases-tab", :role => "tabpanel"}
        = render 'purchases'
      #pills-sales.tab-pane.fade{"aria-labelledby" => "pills-sales-tab", :role => "tabpanel"}
        = render 'sales'
      #pills-dispatches.tab-pane.fade{"aria-labelledby" => "pills-dispatches-tab", :role => "tabpanel"}
        = render 'dispatches'
      #pills-expenses.tab-pane.fade{"aria-labelledby" => "pills-expenses-tab", :role => "tabpanel"}
        = render 'expenses'
      #pills-contributions.tab-pane.fade{"aria-labelledby" => "pills-contributions-tab", :role => "tabpanel"}
        = render 'contributions'
