= form_for(@purchase) do |f|
	%div{ class: 'form-group label-floating'}
		= f.label "proveedor", class: "title_label"
		= f.select(:provider_id, Provider.actives.collect {|c| [c.name, c.id]}, {}, {:prompt => 'Seleccione Proveedor', class: 'form-control'})
	%div{ class: 'form-group label-floating'}
		= f.label "local", class: "title_label"
		= f.select(:store_id, Store.actives.collect {|c| [c.name, c.id]}, {}, {:prompt => 'Seleccione Local', class: 'form-control'})
	%div{ class: 'form-group label-floating'}
		= f.label "Nº Factura", class: "title_label"
		= f.text_field(:document_number, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Fecha Vencimiento", class: "title_label"
		= f.text_field(:document_number_expiration_at, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Cobro Extra", class: "title_label"
		= f.text_field(:extra, class: 'form-control')

	%div{ class: 'form-group label-floating'}
		%br
			= f.submit "Guardar", class: "btn btn-success"
			= link_to 'Volver', purchases_path , class: "btn btn-link"
