%h1.header
  Listado de Compras
%br
%br
%table.table
  %th Cliente
  %th Local
  %th Vendedor
  %th Estado
  %th
    - @purchases.each do |purchase|
      %tr
        %td
          = link_to purchase.provider.name, purchase.provider
        %td
          = purchase.store.name
        %td
          = purchase.user.email
        %td
          = purchase.status_name
        %td
          = link_to 'Ver', purchase_path(purchase), class: 'btn btn-raised btn-success'
          -#TODO refactor con cancancan
          - if purchase.status == 1
            = link_to 'Editar', edit_purchase_path(purchase), class: 'btn btn-raised btn-primary'
          = link_to purchase, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esta compra?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar

= link_to new_purchase_path, class: 'btn btn-raised btn-success' do
  %i.fa.fa-plus-circle
  Nueva Compra
