.title
	Detalle Compra
%hr
.container
	%div
		%table.table
			%tr
				%th Local
				%td
					= @purchase.store.name
				%tr
				%th Proveedor
				%td
					= @purchase.provider.name
				%tr
				%th Nº Factura
				%td
					= @purchase.document_number
				%tr
				%th Fecha Vencimiento
				%td
					= @purchase.document_number_expiration
				%tr
				%th Comprador
				%td
					= @purchase.user.email
				%tr
				%th Estado
				%td
					= @purchase.status_name

	.row
		.container
			%h3
				Agregar Productos
			%br
			.row
				= form_tag(purchase_details_path(purchase: @purchase), :method => "post") do
					-#TODO refactor con cancancan
					- if @purchase.status == Purchase::STATUS_DRAFT
						.col-md-1
							= text_field_tag :amount, params[:amount], placeholder: "Cant.", autofocus: true, class: "form-control"
						.col-md-2
							= text_field_tag :price, params[:price], placeholder: "Precio", autofocus: true, class: "form-control"
						.col-md-2
							= text_field_tag :tax, params[:tax], placeholder: "Iva", autofocus: true, class: "form-control"
						.col-md-2
							= text_field_tag :total, params[:total], placeholder: "Total", autofocus: true, class: "form-control"
						.col-md-3
							= select_tag :barcode, options_from_collection_for_select(@products, "barcode", "full_name"), {include_blank: true, class: 'form-control js-barcode-input'}
					.col-md-2.pull-right.pr-0
						-#TODO refactor con cancancan
						- if @purchase.status == 1
							= submit_tag "Agregar", class: "btn btn-success js-add-product"
							= link_to 'Finalizar', edit_purchase_path(@purchase, origin: "FINISHED"), class: 'btn btn-raised btn-danger'
						- elsif @purchase.status == 2
							= link_to 'Imprimir', "#", class: 'btn btn-raised btn-info'
							= link_to 'Anular', edit_purchase_path(@purchase, origin: "CANCELLED"), class: 'btn btn-raised btn-warning'

	%div
		%br
		%table.table
			%tr
				%th Cantidad
				%th Unidad
				%th Nombre
				%th Descripción
				%th Neto
				%th Iva
				%th Total				
				%th
			- @purchase.purchase_details.each do |purchase_detail|
				%tr
					%td
						= purchase_detail.amount
					%td
						= purchase_detail.product.unit
					%td
						= purchase_detail.product.name
					%td
						= purchase_detail.product.description
					%td
						= number_to_currency(purchase_detail.price, :unit => "$", :separator => ",", :delimiter => ".")
					%td
						= number_to_currency(purchase_detail.tax, :unit => "$", :separator => ",", :delimiter => ".")
					%td
						= number_to_currency(purchase_detail.total, :unit => "$", :separator => ",", :delimiter => ".")
					%td
						-#TODO refactor con cancancan
						- if @purchase.status == 1
							= link_to purchase_detail, method: :delete, data: { confirm: '¿Estás seguro que quieres quitar este producto?' }, class: 'btn btn-raised btn-danger' do
								%i.fa.fa-trash-o
								Quitar
	%br
	%br
		.row
			.col-md-9
				= link_to 'Volver', purchases_path , class: "btn btn-link"
			.col-md-3.well
				%p.subtotal
					= "Neto: #{number_to_currency(@purchase.price, :unit => "$", :separator => ",", :delimiter => ".")	}"
				%p.subtotal
					= "IVA: #{number_to_currency(@purchase.tax, :unit => "$", :separator => ",", :delimiter => ".")	}"
				%p.subtotal
					= "Impuesto: #{number_to_currency(0, :unit => "$", :separator => ",", :delimiter => ".")	}"
				%p.total
					%strong
						= "Total: #{number_to_currency(@purchase.total, :unit => "$", :separator => ",", :delimiter => ".")	}"

:javascript
	$('.js-barcode-input').select2({
		theme: "bootstrap",
		placeholder: 'Ingrese Código de Barras',
		allowClear: true,
		width: '100%'
	});

	$('.js-barcode-input').change(function(){
		$('.js-add-product').click();
	});
