.title
	Detalle Compra
%hr
.container
	%div
		%table.table
			%tr
				%th Local
				%td
					= @purchase.store.name
				%tr
				%th Proveedor
				%td
					= @purchase.provider.name
				%tr
				%th Nº Factura
				%td
					= @purchase.document_number
				%tr
				%th Fecha Vencimiento
				%td
					= @purchase.document_number_expiration
				%tr
				%th Comprador
				%td
					= @purchase.user.email
				%tr
				%th Estado
				%td
					= @purchase.status_name


	.row
		%h3
			Agregar Productos
		%br
		= form_tag(purchase_details_path(purchase: @purchase), :method => "post") do
			-#TODO refactor con cancancan
			- if @purchase.status == 1
				.col-md-2
					= text_field_tag :amount, params[:amount], placeholder: "Cantidad", autofocus: true, class: "form-control"
				.col-md-4
					= select_tag :barcode, options_from_collection_for_select(@products, "barcode", "full_name"), {include_blank: true, class: 'form-control js-barcode-input'}
			.col-md-4
				-#TODO refactor con cancancan
				- if @purchase.status == 1
					= submit_tag "Agregar", class: "btn btn-success js-add-product"
					= link_to 'Finalizar', edit_purchase_path(@purchase, origin: "FINISHED"), class: 'btn btn-raised btn-danger'
				- elsif @purchase.status == 2
					= link_to 'Imprimir', "#", class: 'btn btn-raised btn-info'
					= link_to 'Anular', edit_purchase_path(@purchase, origin: "CANCELLED"), class: 'btn btn-raised btn-warning'
	%div
		%br
		%table.table
			%tr
				%th Cantidad
				%th Unidad
				%th Nombre
				%th Descripción
				%th Precio Compra
				%th Total Producto
				%th Tarifa
				%th Total Tarifa
				%th Total
				%th
			- @purchase.purchase_details.each do |purchase_detail|
				%tr
					%td
						= purchase_detail.amount
					%td
						= purchase_detail.product.unit
					%td
						= purchase_detail.product.name
					%td
						= purchase_detail.product.description
					%td
						= sprintf("$%2.0f", purchase_detail.purchase_price)
					%td
						= sprintf("$%2.0f", purchase_detail.total)
					%td
						= sprintf("$%2.0f", purchase_detail.plan_price)
					%td
						= sprintf("$%2.0f", purchase_detail.total_plan)
					%td
						= sprintf("$%2.0f", purchase_detail.total_detail)
					%td
						-#TODO refactor con cancancan
						- if @purchase.status == 1
							= link_to purchase_detail, method: :delete, data: { confirm: '¿Estás seguro que quieres quitar este producto?' }, class: 'btn btn-raised btn-danger' do
								%i.fa.fa-trash-o
								Quitar
	%br
	%br
		.row
			.col-md-8
				= link_to 'Volver', purchases_path , class: "btn btn-link"
			.col-md-4.well{style: 'text-align:center;font-size: 35px;'}
				= "Total: #{sprintf("$%2.0f", @purchase.total)}"

:javascript
	$('.js-barcode-input').select2({
		theme: "bootstrap",
		placeholder: 'Ingrese Código de Barras',
		allowClear: true,
		width: '100%'
	});

	$('.js-barcode-input').change(function(){
		$('.js-add-product').click();
	});
