.container
	= form_for(@client) do |f|
		%div
			= f.label :name
			= f.text_field :name, placeholder: "Nombre cliente",class: "form-control", autofocus: true
			= f.label :phone
			= f.text_field :phone, placeholder: "Teléfono contacto",class: "form-control", autofocus: true
			= f.label :email
			= f.text_field :email, placeholder: "Correo electrónico",class: "form-control", autofocus: true

		%div
			%br
				= f.submit "Guardar", class: "btn btn-success"
				= link_to 'Volver', clients_path , class: "btn btn-link"
