.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        Panel Control
      .panel-body
        = link_to edit_client_path(@client), class: 'btn btn-link' do
          %i.fa.fa-edit
          Editar Cliente
        %br
        = link_to @client, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este cliente?' }, class: 'btn btn-raised btn-link' do
          %i.fa.fa-trash-o
          Eliminar Cliente

  .col-md-9
    .title
      Cliente:
      = @client.name
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Teléfono de contacto:
        %td
          = @client.phone
      %tr
        %td
          %strong
            Correo Electrónico
        %td
          = @client.email
