%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml
= link_to 'Ver Proveedores', providers_path
= link_to 'Ver Tiendas', stores_path
= link_to 'Ver Productos', products_path
= link_to 'Ver Clientes', clients_path
= link_to 'Ver Ventas', sales_path
