= form_for(@dispatch) do |f|
	%div{ class: 'form-group label-floating'}
		= f.label "origin", class: "title_label"
		= f.select(:origin_id, Store.actives.collect {|c| [c.name, c.id]}, {}, {:prompt => 'Seleccione Local de Origen', class: 'form-control'})
	%div{ class: 'form-group label-floating'}
		= f.label "destination", class: "title_label"
		= f.select(:destination_id, Store.actives.collect {|c| [c.name, c.id]}, {}, {:prompt => 'Seleccione Local de Destino', class: 'form-control'})

	%div{ class: 'form-group label-floating'}
		%br
			= f.submit "Guardar", class: "btn btn-success"
			= link_to 'Volver', dispatches_path , class: "btn btn-link"