.title
  Listado de Despachos
  .title_label
    .label.label-warning
      Anulados
%hr
.row
  .col-md-4.col-xs-5
    = link_to dispatches_path(), class: 'btn btn-info' do
      %i.fa.fa-edit
      Despachos
  .col-md-8.col-xs-7
    = form_tag(cancelled_dispatches_path(), :method => "get", id: "search-form") do
      .row
        .col-md-7.col-md-offset-4.col-xs-10
          = text_field_tag :query, params[:query], placeholder: "Ingrese número de factura, local, proveedor o encargado", autofocus: true, class: "form-control"
        .col-md-1.col-xs-2
          = hidden_field_tag :status, Dispatch::STATUS_CANCELLED
          = submit_tag "Buscar", class: "btn btn-info pull-right"
%br
%br
%table.table
  %th Local Origen
  %th Local Destino
  %th Fecha
  %th Total
  %th
    - @dispatches.each do |dispatch|
      %tr
        %td
          = link_to dispatch.origin.name, dispatch.origin
        %td
          = link_to dispatch.destination.name, dispatch.destination
        %td
          = dispatch.created_at_datetime
        %td
          = dispatch.total
        %td
          = link_to 'Ver', dispatch_path(dispatch), class: 'btn btn-raised btn-success'
          -#TODO refactor con cancancan
          - if dispatch.status == 1
            = link_to 'Editar', edit_dispatch_path(dispatch), class: 'btn btn-raised btn-primary'
          = link_to dispatch, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este despacho?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
