%h1.header
	Detalle Despacho
%br
%br
.container
	%div
		%table.table
			%tr
				%th Local Origen
				%td
					= @dispatch.origin.name
				%tr
				%th Local Destino
				%td
					= @dispatch.destination.name
				%tr
				%th Fecha Creación
				%td
					= @dispatch.created_at_datetime
				%tr
				%th Estado
				%td
					= @dispatch.status_name
				%tr
	.row
		%h3
			Agregar Productos
		%br
		= form_tag(dispatch_details_path(dispatch: @dispatch), :method => "post") do
			-#TODO refactor con cancancan
			- if @dispatch.status == 1
				.col-md-2
					= text_field_tag :amount, params[:amount], placeholder: "Cantidad", autofocus: true, class: "form-control"
				.col-md-4
					-# = text_field_tag :barcode, params[:barcode], placeholder: "Ingrese Codigo de Barras", autofocus: true, class: "form-control barcode"
					= select_tag :barcode, options_from_collection_for_select(@products, "barcode", "full_name"), {include_blank: true, class: 'form-control js-barcode-input'}
			.col-md-4
				-#TODO refactor con cancancan
				- if @dispatch.status == 1
					= submit_tag "Agregar", class: "btn btn-success js-add-product"
					= link_to 'Finalizar', edit_dispatch_path(@dispatch, origin: "FINISHED"), class: 'btn btn-raised btn-danger'
				- elsif @dispatch.status == 2
					= link_to 'Imprimir', edit_dispatch_path(@dispatch, origin: "CANCELLED"), class: 'btn btn-raised btn-info'
					= link_to 'Anular', edit_dispatch_path(@dispatch, origin: "CANCELLED"), class: 'btn btn-raised btn-warning'

	%div
		%br
		%table.table
			%tr
				%th Cantidad
				%th Unidad
				%th Nombre
				%th Descripción
				%th Precio
				%th Total
				%th
			- @dispatch.dispatch_details.each do |dispatch_detail|
				%tr
					%td
						= dispatch_detail.amount
					%td
						= dispatch_detail.product.unit
					%td
						= dispatch_detail.product.name
					%td
						= dispatch_detail.product.description
					%td
						= number_to_currency(dispatch_detail.total/dispatch_detail.amount, :unit => "$", :separator => ",", :delimiter => ".")
					%td
						= number_to_currency(dispatch_detail.total, :unit => "$", :separator => ",", :delimiter => ".")
					%td
						-#TODO refactor con cancancan
						- if @dispatch.status == 1
							= link_to dispatch_detail, method: :delete, data: { confirm: '¿Estás seguro que quieres quitar este producto?' }, class: 'btn btn-raised btn-danger' do
								%i.fa.fa-trash-o
								Quitar
	%br
	%br
		.row
			.col-md-8
				= link_to 'Volver', dispatches_path , class: "btn btn-link"
			.col-md-4.well{style: 'text-align:center;font-size: 35px;'}
				= number_to_currency(@dispatch.total, :unit => "$", :separator => ",", :delimiter => ".")

:javascript
	$('.js-barcode-input').select2({
		theme: "bootstrap",
		placeholder: 'Ingrese Código de Barras',
		allowClear: true,
		width: '100%'
	});

	$('.js-barcode-input').change(function(){
		$('.js-add-product').click();
	});
