%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Compras
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_purchase_path do
        %i.fa.fa-plus-circle
        Nueva Compra
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Compras", purchases_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Ventas
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_sale_path do
        %i.fa.fa-user-plus
        Nueva Venta
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Ventas", sales_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Despachos
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_dispatch_path do
        %i.fa.fa-plus-circle
        Nuevo despacho
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Despachos", dispatches_path

%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Egresos
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_expense_path do
        %i.fa.fa-plus-circle
        Nuevo Egreso
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Egresos", expenses_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Aportes
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_contribution_path do
        %i.fa.fa-plus-circle
        Nuevo Aporte
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Aportes", contributions_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Cajas
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to new_cash_flow_path do
        %i.fa.fa-plus-circle
        Nueva Caja
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Cajas", cash_flows_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Mantenedores
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Proveedores", providers_path
    %li
      = link_to "Locales", stores_path
    %li
      = link_to "Clientes", customers_path
    %li
      = link_to "Tarifas", plans_path
    %li
      = link_to "Productos", products_path