%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Proveedores
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Nuevo Proveedor", new_provider_path
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Proveedores", providers_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Tiendas
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Nuevo Tienda", new_store_path
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Tiendas", stores_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Productos
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Nuevo Producto", new_product_path
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Productos", products_path
%li.dropdown
  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    Clientes
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Nuevo Cliente", new_client_path
    %li.divider{:role => "separator"}
    %li
      = link_to "Ver Clientes", clients_path
