.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        Panel Control
      .panel-body
        = link_to edit_customer_path(@customer), class: 'btn btn-link' do
          %i.fa.fa-edit
          Editar Cliente
        %br
        = link_to @customer, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este cliente?' }, class: 'btn btn-raised btn-link' do
          %i.fa.fa-trash-o
          Eliminar Cliente

  .col-md-9
    .title
      Cliente:
      = @customer.name
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Teléfono de contacto:
        %td
          = @customer.phone
      %tr
        %td
          %strong
            Correo Electrónico
        %td
          = @customer.email
