= form_for(@contribution) do |f|
	- if current_user.is_admin?
		%div{ class: 'form-group label-floating'}
			= f.label "Local", class: "title_label"
			= f.select(:store_id, Store.all.order("name ASC").collect {|c| [c.name, c.id]}, {}, {:prompt => 'Seleccione Local', class: 'form-control'})
	%div{ class: 'form-group label-floating'}
		= f.label "Nombre", class: "title_label"
		= f.text_field(:name, class: 'form-control')
	%div{ class: 'form-group label-floating'}
		= f.label "Valor", class: "title_label"
		= f.text_field(:price, class: 'form-control')

	%div
		%br
			= f.submit "Guardar", class: "btn btn-success"
			= link_to 'Volver', contributions_path , class: "btn btn-link"