.container
	= form_for(@product) do |f|
		%div{ class: 'form-group label-floating'}
			= f.label "Nombre"
			= f.text_field :name, class: "form-control", autofocus: true
		%div{ class: 'form-group label-floating'}
			= f.label "Descripción"
			= f.text_field :description, class: "form-control", autofocus: true
		%div{ class: 'form-group label-floating'}
			= f.label "Unidad"
			= f.select :unit, unit_list, {:selected => unit_list.first[0]}, {:class =>'form-control '}
		%div{ class: 'form-group label-floating'}
			= f.label "Precio de Compra"
			= f.text_field :purchase_price, class: "form-control", autofocus: true
		%div{ class: 'form-group label-floating'}
			= f.label "Precio de Venta"
			= f.text_field :sale_price, class: "form-control", autofocus: true

		%div
			%br
				= f.submit "Guardar", class: "btn btn-raised btn-success"
				= link_to 'Volver', products_path , class: "btn btn-link"
