.title
  Listado de Productos
  .title_label
    .label.label-warning
      Desactivados
%hr
= link_to products_path(), class: 'btn btn-info' do
  %i.fa.fa-edit
  Proveedores Activos
%br
%br
%table.table
  %th Nombre
  %th Descripción
  %th Unidad
  %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, product
        %td
          = product.description
        %td
          = product.unit
        %td
          = link_to 'Activar', edit_product_path(product, origin: "ACTIVATE"), class: 'btn btn-raised btn-success'
          = link_to product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
