.title
  Listado de Productos
%hr
.row
  .col-md-4.col-xs-5
    = link_to new_product_path, class: 'btn btn-raised btn-success' do
      %i.fa.fa-plus-circle
      Nuevo Producto
    = link_to desactivated_products_path(), class: 'btn btn-info' do
      %i.fa.fa-edit
      Productos Desactivados
  .col-md-8.col-xs-7
    = form_tag(products_path(), :method => "get", id: "search-form") do
      .row
        .col-md-7.col-md-offset-4.col-xs-10
          = text_field_tag :query, params[:query], placeholder: "Ingrese nombre, descripción, unidad o código de barras del producto", autofocus: true, class: "form-control"
        .col-md-1.col-xs-2
          = submit_tag "Buscar", class: "btn btn-info pull-right"
%br
%br
%table.table
  %th Nombre
  %th Descripción
  %th Precio Compra/Unidad
  %th Precio Venta/Unidad
  %th Impuesto
  %th Margen de Ganancia
  %th Código de Barras
  %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, product
        %td
          = product.description
        %td
          = "#{product.purchase_price} / #{product.unit}"
        %td
          = "#{product.sale_price} / #{product.unit}"
        %td
          = "#{product.extra} #{'%'}"
        %td
          = "#{product.profit_margin} / #{product.unit}"
        %td
          = product.barcode

        %td
          = link_to 'Desactivar', edit_product_path(product, origin: "DESACTIVATE"), class: 'btn btn-raised btn-warning'
          = link_to 'Editar', edit_product_path(product), class: 'btn btn-raised btn-primary'
          = link_to product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
