%h1 Products#index
%p Find me in app/views/products/index.html.haml

%ul
  - @products.each do |product|
    %li
      = link_to product.name, product.name
      = product.name
      = product.description
      = product.unit
      = link_to 'Editar', edit_product_path(product)
      = link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }

= link_to 'Crear Nuevo', new_product_path
