%h1.header
  Listado de Productos
%br
%br
%br
%br
%table.table
  %th Nombre
  %th Descripción
  %th Unidad
  %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, product
        %td
          = product.description
        %td
          = product.unit
        %td
          = link_to 'Editar', edit_product_path(product), class: 'btn btn-raised btn-primary'
          = link_to product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar


= link_to new_product_path, class: 'btn btn-raised btn-success' do
  %i.fa.fa-plus-circle
  Nuevo Producto
