.title
  Listado de Productos
%hr
= link_to new_product_path, class: 'btn btn-raised btn-success' do
  %i.fa.fa-plus-circle
  Nuevo Producto
= link_to desactivated_products_path(), class: 'btn btn-info' do
  %i.fa.fa-edit
  Productos Desactivados
%br
%br
%table.table
  %th Nombre
  %th Unidad
  %th Descripción
  %th Código de Barras
  %th
    - @products.each do |product|
      %tr
        %td
          = link_to product.name, product
        %td
          = product.unit
        %td
          = product.description
        %td
          = product.barcode
        %td
          = link_to 'Desactivar', edit_product_path(product, origin: "DESACTIVATE"), class: 'btn btn-raised btn-warning'
          = link_to 'Editar', edit_product_path(product), class: 'btn btn-raised btn-primary'
          = link_to product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
