.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        Panel Control
      .panel-body
        = link_to edit_product_path(@product), class: 'btn btn-link' do
          %i.fa.fa-edit
          Editar Producto
        = link_to @product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este producto?' }, class: 'btn btn-raised btn-link' do
          %i.fa.fa-trash-o
          Eliminar Producto

  .col-md-9
    .title
      Producto:
      = @product.name
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Código Barra:
        %td
          = @product.barcode
      %tr
        %td
          %strong
            Precio/Unidad
        %td
          = "#{@product.price} / #{@product.unit}"
      %tr
        %td
          %strong
            Descripción:
        %td
          = @product.description

    -# - @barcode_png = barcode_output(@product)
    -# = wicked_pdf_image_tag_for_public(@barcode_png)

.row
  .col-md-3
  .col-md-9
    %br
    .h3 Stock
    %table.table
      %th Tienda
      %th Cantidad
      %th Fecha Creación
      %th Última Actualización
      %th
        - @stocks.each do |stock|
          %tr
            %td
              = link_to stock.store.name, stock.store
            %td
              = stock.amount
            %td
              = stock.created_at
            %td
              = stock.updated_at
