.title
  Listado de Tarifas
  .title_label
    .label.label-warning
      Desactivados
%hr
= link_to plans_path(), class: 'btn btn-info' do
  %i.fa.fa-edit
  Tarifas Activas

%br
%br
%table.table
  %th Nombre
  %th Precio
  %th
    - @plans.each do |plan|
      %tr
        %td
          = link_to plan.name, plan
        %td
          = plan.price
        %td
          = link_to 'Activar', edit_plan_path(plan, origin: "ACTIVATE"), class: 'btn btn-raised btn-success'
          = link_to plan, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este plan?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
