.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        Panel Control
      .panel-body
        = link_to edit_plan_path(@plan), class: 'btn btn-link' do
          %i.fa.fa-edit
          Editar Plan
        %br
        = link_to @plan, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este plan?' }, class: 'btn btn-raised btn-link' do
          %i.fa.fa-trash-o
          Eliminar Plan
        %br  
        = link_to :back, class: 'btn btn-raised btn-link' do
          %i.fa.fa-arrow-left
          Volver

  .col-md-9
    .title
      Plan:
      = @plan.name
    %br
    %br
    %table.table
      %tr
        %td
          %strong
            Precio:
        %td
          = @plan.price
