.title
  Listado de Ventas
  .title_label
    .label.label-warning
      Anuladas
%hr
.row
  .col-md-4.col-xs-5
    = link_to sales_path(), class: 'btn btn-info' do
      %i.fa.fa-edit
      Ventas Activas
  .col-md-8.col-xs-7
    = form_tag(cancelled_sales_path(), :method => "get", id: "search-form") do
      .row
        .col-md-7.col-md-offset-4.col-xs-10
          = text_field_tag :query, params[:query], placeholder: "Ingrese número, local, nombre del cliente, rut del cliente o mail del vededor", autofocus: true, class: "form-control"
        .col-md-1.col-xs-2
          = hidden_field_tag :status, Sale::STATUS_CANCELLED
          = submit_tag "Buscar", class: "btn btn-info pull-right"
%br
%br
%table.table
  %th Cliente
  %th Local
  %th Vendedor
  %th Nº Venta
  %th Fecha Creación
  %th total
  %th
    - @sales.each do |sale|
      %tr
        %td
          = link_to sale.customer.name, sale.customer
        %td
          = sale.store.name
        %td
          = sale.user.email
        %td
          = sale.number
        %td
          = sale.created_at_datetime
        %td
          = number_to_currency(purchase.total, :unit => "$", :delimiter => ".", precision: 0)
        %td
          = link_to 'Ver', sale_path(sale), class: 'btn btn-raised btn-success'
          = link_to sale, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esta venta?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar
