%h1.header
  Listado de Ventas
%br
%br
%table.table
  %th Cliente
  %th Local
  %th Vendedor
  %th Nº Venta
  %th total
  %th Estado
  %th
    - @sales.each do |sale|
      %tr
        %td
          = link_to sale.customer.name, sale.customer
        %td
          = sale.store.name
        %td
          = sale.user.email
        %td
          = sale.number
        %td
          = sale.total
        %td
          = sale.status_name
        %td
          = link_to 'Ver', sale_path(sale), class: 'btn btn-raised btn-success'
          = link_to 'Editar', edit_sale_path(sale), class: 'btn btn-raised btn-primary'
          = link_to sale, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar este salee?' }, class: 'btn btn-raised btn-danger' do
            %i.fa.fa-trash-o
            Eliminar

= link_to new_sale_path, class: 'btn btn-raised btn-success' do
  %i.fa.fa-plus-circle
  Nueva Venta
