.container
	.p#notice
		= notice

	.h2 Venta
	%div
		%ul
			%li
				Local:
				= @sale.store.name
			%li
				Cliente:
				= @sale.client.name
			%li
				Cajero:
				= @sale.user.email
	%hr

	%div
		%br
			= form_tag(sale_details_path(sale: @sale), :method => "post") do
				= text_field_tag :barcode, params[:barcode], placeholder: "Ingrese Codigo de Barras", autofocus: true
				= submit_tag "Agregar", class: "btn btn-success"
	
	.h4 Productos
	%div
		%br
			- @sale.sale_details.each do |sale_detail|
				%ul
					= sale_detail.product.name