%h1.header
	Detalle Venta
%br
%br
.container
	%div
		%table.table
			%tr
				%th Local
				%td
					= @sale.store.name
				%tr
				%th Cliente
				%td
					= @sale.customer.name
				%tr
				%th Nº Venta
				%td
					= @sale.number
				%tr
				%th Cajero
				%td
					= @sale.user.email
				%tr
				%th Fecha Creación
				%td
					= @sale.created_at_datetime
				%tr
				%th Estado
				%td
					= @sale.status_name
				%tr

	.row
		%h3
			Agregar Productos
		%br
		= form_tag(sale_details_path(sale: @sale), :method => "post") do
			-#TODO refactor con cancancan
			- if @sale.status == 1
				.col-md-2
					= text_field_tag :amount, params[:amount], placeholder: "Cantidad", autofocus: true, class: "form-control"
				.col-md-4
					= select_tag :barcode, options_from_collection_for_select(@products, "barcode", "full_name"), {include_blank: true, class: 'form-control js-barcode-input'}
			.col-md-4
				-#TODO refactor con cancancan
				- if @sale.status == 1
					= submit_tag "Agregar", class: "btn btn-success js-add-product"
					= link_to 'Finalizar', edit_sale_path(@sale, origin: "FINISHED"), class: 'btn btn-raised btn-danger'
				- elsif @sale.status == 2
					= link_to 'Imprimir', edit_sale_path(@sale, origin: "CANCELLED"), class: 'btn btn-raised btn-info'
					= link_to 'Anular', edit_sale_path(@sale, origin: "CANCELLED"), class: 'btn btn-raised btn-warning'
	%div
		%br
		%table.table
			%tr
				%th Cantidad
				%th Unidad
				%th Nombre
				%th Descripción
				%th Precio
				%th Total
				%th
			- @sale.sale_details.each do |sale_detail|
				%tr
					%td
						= sale_detail.amount
					%td
						= sale_detail.product.unit
					%td
						= sale_detail.product.name
					%td
						= sale_detail.product.description
					%td
						= number_to_currency((sale_detail.total/sale_detail.amount).round(0), :unit => "$", :delimiter => ".", precision: 0)
					%td
						= number_to_currency(sale_detail.total.round(0), :unit => "$", :delimiter => ".", precision: 0)
					%td
						-#TODO refactor con cancancan
						- if @sale.status == 1
							= link_to sale_detail, method: :delete, data: { confirm: '¿Estás seguro que quieres quitar este producto?' }, class: 'btn btn-raised btn-danger' do
								%i.fa.fa-trash-o
								Quitar
	%br
	%br
		.row
			.col-md-8
				= link_to 'Volver', sales_path , class: "btn btn-link"
			.col-md-4.well{style: 'text-align:center;font-size: 35px;'}
				= sprintf("$%d",@sale.total.round(0))

:javascript
	$('.js-barcode-input').select2({
		theme: "bootstrap",
		placeholder: 'Ingrese Código de Barras',
		allowClear: true,
		width: '100%'
	});

	$('.js-barcode-input').change(function(){
		$('.js-add-product').click();
	});
