%h1.header
	Agregar Productos
%br
%br
.container
	%div
		%table.table
			%tr
				%th Local
				%td 
					= @sale.store.name
				%tr
				%th Cliente
				%td 
					= @sale.customer.name	
				%tr
				%th Cajero
				%td 
					= @sale.user.email
				%tr
				%th Estado
				%td 
					= @sale.status_name
				%tr

	.row
		= form_tag(sale_details_path(sale: @sale), :method => "post") do
			-#TODO refactor con cancancan
			- if @sale.status == 1
				.col-md-2
					= text_field_tag :amount, params[:amount], placeholder: "Cantidad", autofocus: true, class: "form-control"
				.col-md-4
					= text_field_tag :barcode, params[:barcode], placeholder: "Ingrese Codigo de Barras", autofocus: true, class: "form-control"
			.col-md-4
				-#TODO refactor con cancancan
				- if @sale.status == 1
					= submit_tag "Agregar", class: "btn btn-success"
					= link_to 'Finalizar', edit_sale_path(@sale, origin: "FINISHED"), class: 'btn btn-raised btn-danger'
				- elsif @sale.status == 2
					= link_to 'Imprimir', edit_sale_path(@sale, origin: "CANCELLED"), class: 'btn btn-raised btn-info'
					= link_to 'Anular', edit_sale_path(@sale, origin: "CANCELLED"), class: 'btn btn-raised btn-warning'

	%br
	.h3 Productos
	%div
		%br
		%table.table
			%tr
				%th Cantidad
				%th Nombre
				%th Descripción
				%th Unidad
				%th 
			- @sale.sale_details.each do |sale_detail|
				%tr
					%td
						= sale_detail.amount
					%td
						= sale_detail.product.name
					%td
						= sale_detail.product.description
					%td
						= sale_detail.product.unit
					%td
						-#TODO refactor con cancancan
						- if @sale.status == 1
							= link_to sale_detail, method: :delete, data: { confirm: '¿Estás seguro que quieres quitar este producto?' }, class: 'btn btn-raised btn-danger' do
								%i.fa.fa-trash-o
								Quitar

	= link_to 'Volver', sales_path , class: "btn btn-link"
	