!!!
%html{:lang => "es-ES"}
  %head
    %title
      Rapados
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css", :rel => "stylesheet"}


  %body{'ng-app'=>'RapadosApp'}
    %div{"ng-cloak" => "", "ng-controller" => "ApplicationCtrl"}
      = render "layouts/navigation"
      %ui-view
        = yield
