!!!
%html{:lang => "es-ES"}
  %head
    %title
      Tetracode Base Rails
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      = "Welcome #{current_user.email}"
      = link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete
    - else
      = link_to "Iniciar Sesión", new_user_session_path
      or
      = link_to "Registrarse", new_user_registration_path
    = yield
