!!!
%html{:lang => "es-ES"}
  %head
    %title
      Rapados
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css", :rel => "stylesheet"}


  %body
    .container-fluid
      .navbar.navbar-inverse
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Rapados
        .navbar-collapse.collapse.navbar-responsive-collapse
          .nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider{:role => "separator"}
                %li
                  %a{:href => "#"} Separated link
                %li.divider{:role => "separator"}
                %li
                  %a{:href => "#"} One more separated link

                  = render "layouts/navigation"
      .row
        .col-xs-6.col-md-1
        .col-xs-6.col-md-10
          = yield
        .col-xs-6.col-md-1
