!!!
%html{:lang => "es-ES"}
  %head
    %title
      Rapados
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css", :rel => "stylesheet"}


  %body
    = render "layouts/navigation"
    .row
      .col-xs-6.col-md-1
      .col-xs-6.col-md-10
        = yield
      .col-xs-6.col-md-1
